.main-slider-two {
    background-image: url(../img/AIC25-KV-05.png);
    background-size: cover;
}

.s-latest-news {
    background-image: url(../img/AIC25-KV-05.png);
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

.header-two {
    position: sticky;
    top: 0;
}

.speaker-item-img:hover {
    transform: scale(101%);
    transition: all 0.2s ease;
}

.speaker-item-img {
    transition: all 0.2s ease;
}

.btn-bg-dark:hover {
    color: white !important;
}

@media (max-width: 767px) {
    .header-two-top .logo-footer img {
        width: auto;
    }
}

@media (max-width: 1199px) {
    .logo-footer img {
        width: auto;
    }
}

@media (min-width: 767px) {
    .header-two-top {
        display: none;
    }
}
